
.row.headline
  h1.big-title Contact
  .col.col-lg-6
    p Contact us if you are interested in the CageCapture technology or the applications of porous organic cages. We are seeking partners for the developement and commercialisation of the technology and the related advanced materials.
    .outer
      .inner
        .icon.i.fas.fa-envelope
      .inner
        h2
          a(href="mailto:info@cagecapture.com") info@cagecapture.com
  .col.col-lg-6.center.social
    a(href="https://twitter.com/cage_capture" target="_blank")
      .icon.i.fab.fa-twitter-square
    a(href="https://www.linkedin.com/company/cagecapture" target="_blank")
      .icon.i.fab.fa-linkedin
