doctype html
html(lang='en')
  head
    include head.jade

  body
    include navbar.jade

    .container#main.full-height.vertical-center.headline
      .row
        .col.col-lg-offset-1.col-lg-10.space
          .text-left
            include main.jade


    .container#intro.full-height.vertical-center.headline.diagonal-box.breathe

      .row.space.content
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include intro.jade

    .container#about.full-height.vertical-center.headline.breathe
      .row.space
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include about.jade



    .container#contact.full-height.vertical-center.headline.diagonal-box.breathe
      .row.content
        .col.col-lg-offset-2.col-lg-8
          .text-left
            include contact.jade

    .container#footer.vertical-center
      .row
        .col.col-lg-12
          .text-center
            include footer.jade

    a(href='#main')
      #fixedbtn-up
        .inner-fixedbtn-up
          i.fas.fa-arrow-up.fa-2x


    include script.jade
