
.row.headline
  h1.big-title Our Technology

  .col.col-lg-6
    .outer
      .inner
        .icon.i.fas.fa-check-double
      .inner
        h2 "Double action" sorbent
        p Capture 500 times more than that by activated carbon
    .outer
      .inner
        .icon.i.fas.fa-bullseye
      .inner
        h2 High selectivity
        p Designed "molecular trap" for pollutants
    .outer
      .inner
        .icon.i.fas.fa-flask
      .inner
        h2 Solution processable
        p Readily add into existing filtration systems


  .col.col-lg-6
    .media
      iframe.responsive-iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/oIZpKnnSap8?controls=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


.row.space
  .div
    .col.col-md-4.space
      .card
        img.card-img-top(src='img/indoor_pollution.jpg', alt='Card image cap')
        .card-body
          h5.card-title Indoor Air Pollution
          p.card-text
            | Nowadays, we spend about 70%-90% time indoors. Indoor air pollution causes an estimated 3.8 million deaths worldwide a year, according to a World Health Organisation report.
    .col.col-md-4.space
      .card
        img.card-img-top(src='img/indoor_pollution.jpg', alt='Card image cap')
        .card-body
          h5.card-title Formaldehyde
          p.card-text
            | Formaldehyde is the most common pollutant in indoor air, which can be emitted from walls, floors, furniture, fabrics and cigarette smoke. Formaldehyde has been confirmed to cause various health problems, and has been classified as a Group 1 human carcinogen by WHO.
    .col.col-md-4.space
      .card
        img.card-img-top(src='img/indoor_pollution.jpg', alt='Card image cap')
        .card-body
          h5.card-title Porous Organic Cages
          p.card-text
            | Porous organic cages (POCs) are an emerging porous material, first developed by Professor Andrew Cooper’s research group at the University of Liverpool in 2009. POCs have been successfully used in applications including gas storage, gas separation and catalysis.
