doctype html
html(lang='en')
  head
    include head.jade

  body
    include navbar-page.jade

    .container.article-main#main
      .row
        .col
          .col-lg-3


          .col-lg-6
            .text-left


                  article#Cage
                    h1 Cage molecules act as molecular sieves for hydrogen isotope separation
                    p.publishdate
                      | Published on 31 October 2019
                    img(src='https://news.liverpool.ac.uk/wp-content/uploads/2019/10/Cocrystal-enrich-deutrium_1-2.jpg' alt='88858')
                    p#intro
                    p
                      | A new hybrid material developed by scientists at the University of Liverpool may bring the dream of carbon-free nuclear fusion power a step closer.
                    p
                      | The separation of hydrogen's three isotopes (hydrogen, deuterium, and tritium) is of key importance for fusion power technology, but current technologies are both energy intensive and inefficient. Nanoporous materials have the potential to separate hydrogen isotopes by a process known as kinetic quantum sieving (KQS), but poor performance levels currently prohibit scale up.
                    p
                      | In a new study published in
                      em Science
                      | , researchers at the University of Liverpool’s
                      a(href='https://www.liverpool.ac.uk/materials-innovation-factory/') Materials Innovation Factory
                      |  have created hybrid porous organic cages capable of high-performance quantum sieving that could help advance the deuterium/hydrogen isotope separation technologies needed for fusion power.
                    p
                      | Deuterium, also called heavy hydrogen, has a number of commercial and scientific uses, including nuclear power, NMR spectroscopy and pharmacology. These applications need high-purity deuterium, which is expensive because of its low natural abundance. Deuterium enrichment from hydrogen-containing feedstocks, such as seawater, is an important industrial process, but it's costly and energy intensive.
                    p
                      | Porous organic cages are an emerging porous material, first reported by
                      a(href='https://www.liverpool.ac.uk/cooper-group/') Professor Andrew Cooper’s group
                      |  at the University of Liverpool in 2009, which have been used previously for the separation of xylene isomers, noble gases, and chiral molecules.
                    p
                      | However, purifying deuterium from hydrogen/deuterium gas mixtures in this way is difficult because both isotopes have the same size and shape at normal conditions. By combining small-pore and large-pore cages together in a single solid, the group has now produced a material with high-quality separation performance that combines an excellent deuterium/hydrogen selectivity with a high deuterium uptake.
                    p
                      | The research was led by Professor Andrew Cooper FRS, whose team at the Materials Innovation Factory designed and synthesised the new cage systems. A separate team led by Dr Michael Hirscher at the Max Planck Institute for Intelligent Systems tested the separation performance using cryogenic thermal desorption spectroscopy.
                    p
                      | Professor Cooper said: "The separation of hydrogen isotopes are some of the hardest molecular separations known today. The ‘Holy Grail’ for hydrogen / deuterium separation is to introduce precisely the right pore size to achieve high selectivity without compromising the gas uptake too much."
                    p
                      | "Our approach allows extremely delicate tuning of pore size—the entire tunability window for this series of cages spans the diameter a single nitrogen atom—and this ideally suits applications such as KQS."
                    p
                      | Lead author Dr Ming Liu added: "While the synthetic approach involves multistep organic synthesis, each step proceeds in close to 100% yield and there is no intermediate purification, so there is good potential to scale these materials up."
                    p
                      | Structural studies performed at the UK’s Diamond Light Source and the Advanced Light Source in California enabled the Liverpool team to develop a site selective, solid state reaction, which enabled the pore size of the porous organic cages to be delicately tuned. These studies also enabled the team to design and understand the structure of their best performing material, which combined small-pore and large-pore cages. Co-author Dr Marc Little added: "Data collected at these world-leading facilities underpinned our key structural findings and were an integral part of this study."
                    p
                      | The mechanistic understanding of the superior performance of these materials was supported by a joint computational effort, led by Dr Linjiang Chen from the Leverhulme Research Centre for Functional Materials Design in the Materials Innovation Factory, also involving theoretical groups from Xi’an Jiaotong–Liverpool University (China) and École Polytechnique Fédérale de Lausanne (Switzerland).
                    p
                      | Although the reported material has excellent performance to separate deuterium from hydrogen, the ideal operation temperature is low (30 K). The group is now working on designing a new material that can separate hydrogen isotopes at higher temperatures.
                    p
                      | The research was supported by EPSRC, the European Research Council, the Leverhulme Trust, and the Chinese Scholarship Council.
                    p
                    hr
                    p
                    p
                      strong Research reference
                    p
                      | The paper ‘Barely porous organic cages for hydrogen isotope separation’ is published in
                      em Science,
                      | <a href='https://doi.org/10.1126/science.aax7427'>https://doi.org/10.1126/science.aax7427</a>





    .container#footer.vertical-center
      .row
        .col.col-lg-12
          .text-center
            include footer.jade

    a(href='#main')
      #fixedbtn-up
        .inner-fixedbtn-up
          i.fas.fa-arrow-up.fa-2x


    include script.jade
