script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
script(type='text/javascript', src='js/scrolling.js')
script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
// JavaScript jQuery code from Bootply.com editor
script(type='text/javascript').
  $(document).ready(function() {
  });
script.
  var right = $(".right-bg");
  var left = $(".left-bg");
  right.css({
    "background-position": (right.width()*.66) + "px " + "0px"
  });
  left.css({
    "background-position": (-left.width()*.66) + "px " + "0px"
  });
