article p {
  color: #424242;
  font-size: 1.1em;
  line-height: 1.5em;
}

article img {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

}

.article-main {
  padding-top: 100px;
}
.article-main#main {
  background-image: none;
}

h2 {
  color: black;
}
h1 {
  padding-top: 25px;
  padding-bottom: 25px;
}
